.pageMap{
    width:100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

.pageMap .sideBar{
    width: 400px;
    background: linear-gradient(329.54deg, #A6D2E9 0%, #77B1CF 100%);
    padding: 30px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pageMap .sideBar header img{
    width: 270px;
    margin-left: 20px;
}

.pageMap .sideBar h2{
    font-size: 35px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 25px;
}

.pageMap .sideBar p{
    line-height: 28px;
    margin-top: 24px;
}

.pageMap .sideBar footer{
    display: flex;
    flex-direction: column;
  
    line-height: 24px;
}

.pageMap .sideBar footer strong{
    font-weight: 800px;
}

.pageMap .map-popup .leaflet-popup-content-wrapper{
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    box-shadow: none;
}

.pageMap .map-popup .leaflet-popup-content{
    color:#1D1F1F;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.pageMap .map-popup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: #77B1CF;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

